<h1>Вашa корзина:</h1>

<table class="table table-striped">
  <thead>
    <tr>
       <th scope="col">Название пиццы</th>
      <th scope="col">Цена</th>
      <th scope="col">Количество</th>
    </tr>
  </thead>

  <tbody>
      <% @items.each do |item| %>
    <tr>
      <td><%= item[0].title %></td>
      <td><%= item[0].price %></td>
      <td><%= item[1] %></td>
    </tr>
   <% end %>
  </tbody>
</table>